h1{
	color:blue;
}

h2{

}

p{
	font-size:20px;
}

.bcolor-blue{
	height:200px;
	width:100%;
	background-color:blue;
}

.bcolor-red{
	height:200px;
	width:100%;
	background-color:red;
}

body{
	padding-top:50px;
}